<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="ArchiveKey"
      Language="1033"
      Version="0.3.1"
      Manufacturer="ArchiveKey contributors"
      UpgradeCode="{56DEAB33-AEDB-45EA-8556-FB7FF805DF0D}">

    <Package
        InstallerVersion="500"
        Compressed="yes"
        InstallScope="perUser"
        InstallPrivileges="limited"
        Platform="x64"
        Description="Local password recovery for authorized archives" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of ArchiveKey is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="ArchiveKeyIcon" SourceFile="$(var.ProjectRoot)\assets\archivekey.ico" />
    <Property Id="ARPPRODUCTICON" Value="ArchiveKeyIcon" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="ProgramsFolder" Name="Programs">
          <Directory Id="INSTALLFOLDER" Name="ArchiveKey" />
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component
          Id="ArchiveKeyApplication"
          Guid="{68C745A9-878A-4D63-98E4-A0F796D396C3}"
          Win64="yes">
        <File Id="ArchiveKeyExe" Source="$(var.SourceDir)\ArchiveKey.exe">
          <Shortcut
              Id="DesktopShortcut"
              Directory="DesktopFolder"
              Name="ArchiveKey"
              Description="Recover passwords for authorized archives"
              WorkingDirectory="INSTALLFOLDER"
              Icon="ArchiveKeyIcon"
              Advertise="no" />
          <Shortcut
              Id="StartMenuShortcut"
              Directory="ProgramMenuFolder"
              Name="ArchiveKey"
              Description="Recover passwords for authorized archives"
              WorkingDirectory="INSTALLFOLDER"
              Icon="ArchiveKeyIcon"
              Advertise="no" />
        </File>
        <RegistryValue
            Root="HKCU"
            Key="Software\ArchiveKey"
            Name="Installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
        <RemoveFolder Id="RemoveProgramsFolderIfEmpty" Directory="ProgramsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="ArchiveKey" Level="1">
      <ComponentRef Id="ArchiveKeyApplication" />
    </Feature>
  </Product>
</Wix>
